@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog start
/*----------------------------------------*/

.#{$theme-prifix}-blog {
    &-cetagory {
        border-radius: 14px;
        padding: 1px 15px;
        transition: all .4s ease;

        &:hover {
            background: var(--tp-common-white);
            color: var(--tp-thene-primary);
        }

        &-wrap {
            top: 30px;
            left: 30px;
        }
    }

    &-date {
        width: 60px;
        height: 60px;
        padding-top: 10px;
        backdrop-filter: blur(40px);
        background: linear-gradient(209deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);

        & span {
            transform: translateY(-5px);
            display: inline-block;
        }
    }

    &-author {
        & img {
            width: 30px;
        }

        &-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: 100%;
            padding: 30px;
        }
    }

    &-thumb {
        & .thumbs {
            transition: all .4s ease;
        }
    }

    &-item {
        &:hover {
            & .tp-blog-thumb {
                & .thumbs {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-video {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;

        & .tp-about-bottom-video-btn {
            background: var(--tp-theme-secondary);
        }
    }

    &-2 {
        &-wrap {
            border: 1px solid rgba(31, 49, 48, 0.1);
            padding: 10px;
            margin-right: 40px;

            &:hover {
                & .tp-blog-2-thumb {
                    & img {
                        transform: scale(1.06);
                    }
                }
            }

            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
        }

        &-content {
            padding: 10px 10px 10px 66px;

            @media #{$lg,$md,$sm,$xs} {
                margin-top: 20px;
                padding: 10px 10px 10px 10px;
            }
        }

        &-cetagory {
            & span {
                padding: 1px 13px;
            }
        }

        &-thumb {
            margin-right: -56px;
            overflow: hidden;

            & img {
                transition: all .3s ease;
            }

            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
        }

        &-right {
            &-wrap {
                height: 100%;
                margin-left: -30px;

                @media #{$lg,$md,$sm,$xs} {
                    margin-left: 0;
                }

                & .tp-border {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }

                & .tp-blog-2-cetagory span {
                    border: 1px solid rgba(255, 255, 255, 0.25);
                }

                & .tp-blog-2-content-2 {
                    padding: 55px 60px 55px 60px;

                    @media #{$xl,$lg,$md,$sm,$xs} {
                        padding: 35px 30px 35px 30px;
                    }
                }
            }
        }

        &-author {
            @media #{$xs} {
                margin-right: 20px;
            }
        }
    }

    &-4 {
        &-item {
            border-top: 1px solid rgba(31, 49, 48, 0.1);
            border-bottom: 1px solid rgba(31, 49, 48, 0.1);
            padding-top: 40px;
            margin-top: -1px;
            padding-bottom: 10px;

            &:hover {
                & .tp-blog-4-thumb {
                    & img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &-thumb {
            overflow: hidden;

            @media #{$sm,$xs} {
                margin-right: 0;
            }

            & img {
                transition: all .4s ease;
            }
        }

        &-border {
            width: 1px;
            height: 20px;
            background: rgba(31, 49, 48, 0.1);
        }

        &-spacing {
            margin: 0 126px;

            @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
                margin: 0;
            }

            &-2 {
                margin-bottom: 40px;

                @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
                    margin-bottom: 0;
                }
            }
        }

        &-content {
            @media #{$xl,$lg,$md,$sm,$xs} {
                margin-right: 0;
            }

            @media #{$md,$sm,$xs} {
                & .title {
                    & br {
                        display: none;
                    }
                }
            }
        }
    }

    &-6 {
        &-right {
            &-wrap {
                margin-left: 0;

                & .tp-blog-2-content-2 {
                    padding: 40px 40px 50px 40px;

                    @media #{$xl,$md,$sm,$xs} {
                        padding: 25px 20px 25px 20px;
                    }
                }

                &.wrap-white {
                    & .tp-blog-2-cetagory {
                        & span {
                            border: 1px solid rgba(31, 49, 48, 0.15);
                        }
                    }

                    & .tp-border {
                        border-bottom: 1px solid rgba(31, 49, 48, 0.15);
                    }
                }
            }
        }
    }

    &-7 {
        &-right {
            &-wrap {
                & .tp-blog-2-content-2 {
                    padding: 50px 50px 50px 50px;

                    @media #{$xl,$md,$sm,$xs} {
                        padding: 25px 20px 25px 20px;
                    }
                }
            }
        }

        &-btn {
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 58px;

            &-left {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    &-slider-active {
        position: relative;
        padding: 0 50px;

        .swiper-slide {
            height: auto;
        }

        .swiper-pagination {
            position: relative;
            bottom: 0;
            margin-top: 30px;

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background: var(--tp-theme-primary);
                opacity: 0.3;
                transition: all 0.3s ease;

                &-active {
                    opacity: 1;
                    background: var(--tp-theme-primary);
                }
            }
        }
    }
}