<footer>
  <!-- tp-footer area start -->
  <div class="tp-footer-area tp-bg-theme-primary pt-45 pb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tp-footer-widget mb-40 mr-10">
            <div class="flex items-center space-x-4">
              <!-- Logo -->
              <div class="tpoffcanvas__logo">
                <a href="/">
                  <img src="/static/images/logo/transLogo.png" alt="logo" class="w-[140px]" />
                </a>
              </div>

              <!-- Name -->
              <h5 class="font-medium text-xl text-white">
                Trans Asian Chamber of Commerce & Industry (TACCI)
              </h5>
            </div>

            <div class="tp-footer-form">
              <div class="tp-benifits-form-content d-flex">
                <p class="fs-14 tp-text-border-3 mb-0 lh-22">
                  TACCI serves as a vibrant networking hub. It brings together
                  diplomats, entrepreneurs, and thought leaders from across Asia
                  and beyond, providing them with opportunities to forge
                  meaningful connections. Through regular meetings, seminars,
                  and networking events, the chamber cultivates an atmosphere
                  conducive to building lasting business relationships
                </p>
              </div>
            </div>
            <div class="tp-footer-bottom-social mt-20">
              <ul class="d-flex align-items-center">
                <li>
                  <a href="https://www.facebook.com/sanjay.bhide.716" target="_blank" title="Facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/trans-asian-chamber-of-commerce-industry-tacci/"
                    target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="https://wa.me/919820964687" target="_blank" title="WhatsApp">
                    <i class="fa-brands fa-whatsapp"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/@transasianchamberofcommerc5038" target="_blank" title="Youtube">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tp-footer-widget ml-70 mb-40">
            <h5 class="fw-500 fs-24 tp-text-common-white mb-25">
              Useful links
            </h5>
            <div class="tp-footer-menu">
              <ul>
                <li><a href="/about">About us</a></li>
                <li><a href="/membership-types">Membership Types</a></li>
                <li><a href="/my-gallery">Gallery</a></li>
                <li><a href="/leadership-board">Governing Councils</a></li>
                <li><a href="/membership-benefit">Membership Benefits</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tp-footer-widget mb-40">
            <h5 class="fw-500 fs-24 tp-text-common-white mb-25">
              Trades
            </h5>
            <div class="tp-footer-menu">
              <ul>
                <li><a href="{{ url_for('main.export_enqury') }}">Export
                    Enquries</a></li>
                <li><a href="{{ url_for('main.import_enqury') }}">Import
                    Enquries</a></li>
                <li><a href="{{ url_for('main.business_opportunity') }}">Other
                    Business
                    Opportunities</a></li>
                <li><a href="{{ url_for('main.suggestions') }}">Suggestions</a></li>
                <li><a href="{{ url_for('main.complaints') }}">Complaints</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="tp-footer-widget tp-footer-meinus mb-40">
            <h5 class="fw-500 fs-24 tp-text-common-white mb-25">Contact Us</h5>
            <div class="tp-footer-menu">
              <ul>
                <li>
                  <a href="#">301 Hind Service Industrial Estate, Jaambhekar Marg, Dadar
                    Chowpatty, <br />
                    Mumbai - 400028</a>
                </li>
                <li><a href="#">Phone: 9820964687</a></li>
                <li><a href="#">info@transasianchamber.org</a></li>
                <li><a href="#">transasian.hindustaan@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tp-footer-bottom text-white">
      <div class="container mx-auto">
        <div class="tp-footer-bottom-border border-t border-gray-700 pt-4 pb-4">
          <div class="flex justify-center items-center">
            <div class="text-center">
              <p class="tp-text-border-3 mb-0 leading-6 text-sm">
                © <span id="year"></span>
                <a href="/" class="tp-text-common-white underline">TACCI</a>.
                All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-footer area end -->
</footer>