{% extends "base.html" %}

{% block title %}Contact TACCI | Get Connected with Global Trade Partners{% endblock %}

{% block meta_description %}Contact Trans Asian Chamber of Commerce & Industry for international trade partnerships,
membership inquiries, and global business opportunities.{% endblock %}

{% block content %}
<div class="tp-breadcrumb-area custom-hero tp-breadcrumb-spacing bg-position pt-200 "
  data-background="static/images/hero/banner.jpg" style="
    min-height: 40vh;
    height: 60vh;
    background-size: cover;
    background-position: center;
  "></div>

<!-- tp-breadcrumb-area-end -->
{% include 'partials/breadcrumb.html' %}

<main>
  <div class="tp-contact-area pt-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-6 col-12">
          <div class="tp-contact-title-wrap mb-30">
            <span class="fw-500 fs-16 tp-text-grey-1 mb-5 d-inline-block">
              Contact with us</span>
            <h3 class="mb-20 fs-xl-40 fs-sm-36 wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.2s">
              How to you
              <span class="text-italic fw-400 tp-ff-heading">find us</span>
            </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="tp-contact-main-info mb-30">
            <div class="d-flex align-items-center mb-20">
              <div>
                <span class="tp-text-grey-1 fw-600 fs-12 text-uppercase d-block lh-1 mb-5">
                  Call Us Directly</span>
                <a href="https://wa.me/919820964687" target="_blank" class="ml-5" title="WhatsApp">
                  <i class="fa-brands fa-whatsapp" style="color: #1F3130;"></i>
                </a>
                <a href="tel:+919820964687" class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  +91 9820964687
                </a>
                <br />
                <a href="https://wa.me/919820964687" target="_blank" class="ml-5" title="WhatsApp">
                  <i class="fa-brands fa-whatsapp" style="color: #1F3130;"></i>
                </a>
                <a href="tel:+919967064687" class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  +91 9967064687
                </a>

                <br>
                <a href="tel:+918082564687" class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  <i class="fa-solid fa-mobile-screen-button mr-5" style="color: #1F3130;"></i>
                  +91 8082564687
                </a><br>
                <a href="tel:+919152964687" class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  <i class="fa-solid fa-mobile-screen-button mr-5" style="color: #1F3130;"></i>
                  +91 9152964687
                </a><br>
                <a href="tel:+919896464684" class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  <i class="fa-solid fa-mobile-screen-button mr-5" style="color: #1F3130;"></i>
                  +91 9896464684
                </a><br>
                <a href="tel:+912224467647" class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  <i class="fa-solid fa-phone mr-5" style="color: #1F3130;"></i>
                  91-22-2446-7647
                </a>
              </div>
            </div>
            <div class="d-flex align-items-center mb-20">
              <span class="tp-contact-main-icon mr-15">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M17.5 5C18.8807 5 20 3.88071 20 2.5C20 1.11929 18.8807 0 17.5 0C16.1193 0 15 1.11929 15 2.5C15 3.88071 16.1193 5 17.5 5Z"
                    fill="#1F3130" />
                  <path
                    d="M17.5 5C18.8807 5 20 3.88071 20 2.5C20 1.11929 18.8807 0 17.5 0C16.1193 0 15 1.11929 15 2.5C15 3.88071 16.1193 5 17.5 5Z"
                    fill="#1F3130" />
                  <path
                    d="M18.72 6.31001C19.35 6.11001 20 6.60002 20 7.27002V12.51C20 16.01 18 17.51 15 17.51H5C2 17.51 0 16.01 0 12.51V5.51001C0 2.01001 2 0.51001 5 0.51001H12.61C13.26 0.51001 13.7 1.11002 13.58 1.74002C13.46 2.33002 13.48 2.96002 13.66 3.61002C14.03 4.95002 15.12 6.02001 16.46 6.37001C17.25 6.57001 18.02 6.53001 18.72 6.31001Z"
                    fill="#1F3130" />
                  <path
                    d="M10.0027 9.86977C9.16271 9.86977 8.31271 9.60978 7.66271 9.07978L4.53271 6.57978C4.21271 6.31978 4.15271 5.84978 4.41271 5.52978C4.67271 5.20978 5.1427 5.14978 5.4627 5.40978L8.5927 7.90978C9.3527 8.51978 10.6427 8.51978 11.4027 7.90978L12.5827 6.96978C12.9027 6.70978 13.3827 6.75977 13.6327 7.08977C13.8927 7.40977 13.8427 7.88978 13.5127 8.13978L12.3327 9.07978C11.6927 9.60978 10.8427 9.86977 10.0027 9.86977Z"
                    fill="white" />
                </svg>
              </span>
              <div>
                <span class="tp-text-grey-1 fw-600 fs-12 text-uppercase d-block lh-1 mb-5">
                  Need Support?</span>
                <a href="https://mail.google.com/mail/?view=cm&to=info@transasianchamber.org" target="_blank"
                  class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  info@transasianchamber.org
                </a>

                <a href="https://mail.google.com/mail/?view=cm&to=transasian.hindustaan@gmail.com" target="_blank"
                  class="fw-600 fs-16 ls-m-2 tp-text-theme-primary underline-black">
                  transasian.hindustaan@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-contact-area-end -->

  <!-- tp-contact-form-area-start -->
  <div class="tp-contact-form-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="mb-30">
            <h2 class="mb-20 fs-40 fs-xl-35 fs-sm-30 pb-60 wow img-custom-anim-left" data-wow-duration="1.5s"
              data-wow-delay="0.2s">
              We love to hear<br />
              from <span class="text-italic fw-400 tp-ff-heading">you</span>
            </h2>
            <div class="tp-contact-bottom-social">
              <ul class="d-flex align-items-center">
                <li>
                  <a href="https://www.facebook.com/sanjay.bhide.716" target="_blank" title="Facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
                <!-- <li>
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li> -->
                <li>
                  <a href="https://www.linkedin.com/company/trans-asian-chamber-of-commerce-industry-tacci/"
                    target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="https://wa.me/919820964687" target="_blank" title="WhatsApp">
                    <i class="fa-brands fa-whatsapp"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/@transasianchamberofcommerc5038" target="_blank" title="Youtube">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="mb-4">
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              {{message}}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}

          <div class="tp-join-form-wra tp-contact-inner-wrap mb-30">
            <form id="contact-form" action="{{ url_for('main.contact_page') }}" method="POST">
              {{ form.csrf_token }}
              <input class="tp-input mb-15" name="name" type="text" placeholder="Your full name*" required />
              <input class="tp-input mb-15" name="email" type="email" placeholder="Email address*" required />
              <input class="tp-input mb-15" name="website" type="url" placeholder="Your website (optional)" />
              <select class="tp-input mb-15" name="purpose" required
                style="width: 100%; height: 50px; margin-bottom: 10px;">
                <option value="" style="font-size: 2px;">Purpose of Contact*</option>
                <option value="general_inquiry">General Inquiry</option>
                <option value="membership">Membership Inquiry</option>
                <option value="business_opportunity">Business/Trade Opportunity</option>
                <option value="partnership">Partnership or Collaboration</option>
                <option value="event_information">Event Participation or Info</option>
                <option value="support">Technical Assistance</option>
                <option value="media">Media or Press Request</option>
                <option value="feedback">Feedback or Suggestions</option>
                <option value="other">Other (please specify)</option>
              </select>
              <textarea name="message" class="tp-textarea tp-input mb-10"
                placeholder="How can we help? Feel free to write here"></textarea>
              <button type="submit"
                class="tp-btn-xl tp-round-4 fs-16 tp-bg-theme-primary w-100 d-block tp-text-common-white hover-text-white fw-500">
                Send your message
              </button>
              <p class="ajax-response mt-20" style="min-height: 20px;"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tp-contact-form-area-end -->

  <!-- map area start  -->
  <div class="tp-map-area fix lh-1">
    <div class="tp-contact-map-box responsive-map">
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1885.9387487582126!2d72.834958!3d19.025119!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf565ca045e1%3A0x7fb713676527a2f8!2sHind%20Service%20Industries!5e0!3m2!1sen!2sin!4v1749720984487!5m2!1sen!2sin"
        style="border: 0; width: 100%; height: 100%; min-height: 300px" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe> -->

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15088.077439988272!2d72.8377914!3d19.01886855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f8939a9c447f2f7%3A0xcc59711ab1e48cae!2sTrans%20Asian%20Chamber%20Of%20Commerce%20%26%20Industry!5e0!3m2!1sen!2sin!4v1761292282888!5m2!1sen!2sin"
        style="border: 0; width: 100%; height: 100%; min-height: 300px" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <!-- map area end  -->
</main>

{% endblock %}